//Git
$header-mini: '/Tropical/dist/img/header-mini.jpg'; 
$header-big: '/Tropical/dist/img/header-big.jpg'; 
$hero-mini: '/Tropical/dist/img/hero-mini.jpg'; 
$hero-big: '/Tropical/dist/img/hero-big.jpg'; 
$island1: '/Tropical/dist/img/island1.jpg';
$island2: '/Tropical/dist/img/island2.jpg';
$island3: '/Tropical/dist/img/island3.jpg';
$offers-hero-mini: '/Tropical/dist/img/offers-hero-mini.jpg';
$offers-hero-big: '/Tropical/dist/img/offers-hero-big.jpg';


//Local
// $header-mini: '/dist/img/header-mini.jpg'; 
// $header-big: '/dist/img/header-big.jpg'; 
// $hero-mini: '/dist/img/hero-mini.jpg'; 
// $hero-big: '/dist/img/hero-big.jpg'; 
// $island1: '/dist/img/island1.jpg';
// $island2: '/dist/img/island2.jpg';
// $island3: '/dist/img/island3.jpg';
// $offers-hero-mini: '/dist/img/offers-hero-mini.jpg';
// $offers-hero-big: '/dist/img/offers-hero-big.jpg';